* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    z-index: 1;
    position: relative;
  }
  
  .logo {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
    margin-left: 500px;
    margin-top: 28px;
  }
  
  .logo h2 {
    margin-left: -167px;
    margin-top: 10px;
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
  }
  
  .logo h4 {
    margin-left: -120px;
    margin-top: 69px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
  }
  
  .line {
    margin-left: 10px;
    margin-top: 42px;
    width: 167px;
  }
  
  .logo span {
    color: #ffd700;
    font-size: 24px;
    font-weight: bold;
  }
  .bg {
    display: flex;
    position: absolute;
  }
  
  .bg img {
    margin-top: -190px;
    filter: brightness(45%);
    width: 100%;
    height: 102%;
    position: fixed;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 27px;
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffd700;
  }
  
  .cart .carta {
    color: #ffd700;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .cart-icon {
    margin-right: 12px;
    font-size: 20px;
  }
  
  .cart-icon img {
    width: 25px;
    height: 23px;
    margin-bottom: -5px;
  }